# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\workspace_course\rinaldoDev\java8-lambda-streams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
